* {
    box-sizing: border-box;
}

:root {
    --primary-color: #143c3c;
    --secondary-color: #83a17d;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    /* font-family: "Public Sans", sans-serif; */
}

/* Common */
.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
}

.btn {
    min-width: 173px;
    height: 57px;
    background: var(--primary-color);
    border: 1.5px solid var(--primary-color);
    border-radius: 40px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    padding: 14px 54px;
    color: #ffffff;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.section-heading {
    margin-top: 12px;
    position: relative;
    width: 520px;
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: var(--primary-color);
}

.section-heading::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 19px;
    left: 350px;
    width: 66px;
    height: 2px;
    background: var(--primary-color);
}

.section-desc {
    margin-left: 46px;
    position: relative;
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #7d8188;
}

.section-desc::before {
    position: absolute;
    left: -46px;
    top: 10px;
    content: "";
    display: block;
    width: 25px;
    height: 1px;
    background: var(--primary-color);
}

/* Header */
.header__top {
    padding-top: 28px;
    position: sticky;
    top: -15px;
}

.header__top {
    position: relative;
    display: flex;
    align-items: center;
}

.header__top::before {
    position: absolute;
    bottom: -13px;
    right: 0;
    left: 0;
    z-index: 1;
    margin: 0 auto;
    content: "";
    display: block;
    background: var(--primary-color);
    width: 16px;
    height: 2px;
}

.header__top::after {
    position: absolute;
    bottom: -13px;
    content: "";
    display: block;
    width: 1140px;
    height: 1px;

    background: linear-gradient(
        90deg,
        #ffffff 0%,
        #dddcdc 51.09%,
        rgba(213, 213, 213, 0) 99.68%
    );
}

.header-nav {
    margin-left: auto;
    display: inline-flex;
}

.header-nav__item {
    font-family: "Public Sans";
    margin-right: 38px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575d5e;
}

.header-nav__item:hover {
    color: #152427;
}

.header__btn {
    margin-left: 50px;
}

.header-hero {
    margin-top: 74px;
    display: flex;
}

.header-hero__content {
    width: 34%;
}

.header-hero__heading {
    font-family: "Public Sans";

    font-weight: 800;
    font-size: 5rem;
    line-height: 1.2;
    width: 368px;
    color: var(--primary-color);
}

.header-hero__desc {
    font-family: "Public Sans";

    width: 341px;
    margin-top: 20px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #575d5e;
}

.header-hero__row {
    position: relative;
    margin-top: 42px;
    display: flex;
    align-items: center;
}

.header__btn {
    margin-left: 0;
    padding: 14px 36px;
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #ffffff;
}

.header-hero__play {
    margin-left: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 43px;
    border-radius: 50%;
    background: #83a17d;
}

.header-hero__half-circle {
    position: absolute;
    left: 203px;
    width: 60px;
    height: 60px;
    border: 4px solid;
    border-radius: 50%;
    border-color: var(--primary-color);

    /* make a half circle */
    border-top-color: transparent;
    border-right-color: transparent;
    transform: rotate(45deg);
}

.header-hero__desc-play {
    margin-left: 15px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #152427;
}

.header-hero__right {
    position: relative;
    margin-left: auto;
}

.header-hero__figure {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    padding-bottom: 77px;
}

.header-hero_img {
    width: 202px;
    height: 466px;
    object-fit: cover;
    border-radius: 110px;
}

.header-hero_img:nth-child(2) {
    bottom: 0;
    margin-top: 77px;
}

.header-hero__circle {
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 100%;
    z-index: -1;
    width: 340px;
    height: 340px;
    background: #4dbb9a;
    filter: blur(100px);
}

.header-hero__flower-above {
    position: absolute;
    top: -43px;
    left: -110px;
}

.header-hero__flower-below {
    position: absolute;
    bottom: 43px;
    right: 0;
}

.header-hero__line-above {
    position: absolute;
    top: -51px;
    left: -70px;
}

.header-hero__line-below {
    position: absolute;
    bottom: 36px;
    right: 40px;
    transform: rotate(180deg);
}

.header-brand {
    z-index: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 42px;
    padding: 76px 121px;
    background: #e2eddf;
    border-radius: 100.5px;
    height: 201px;
}

/* Service */
.service {
    padding-top: 106px;
    z-index: 2;
}

.service__first-row {
    display: flex;
    align-items: center;
}

.service-list {
    display: flex;
    left: auto;
}

.service__button-list {
    display: flex;
    column-gap: 17px;
    margin-left: 422px;
}

.service__button-ctn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    color: #152427;
    background: #e2eddf;
    transition: 0.25s;
}
.service__button-ctn:hover {
    color: #ffffff;
    background: var(--primary-color);
}

.service-list {
    margin-top: 76px;
    display: flex;
    column-gap: 16px;
}

.service-list__item {
    max-width: 370px;
    width: 370px;
    height: 318px;
}

.service-list__img {
    display: flex;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.service-list__item:hover .service-list__content {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    border-radius: 0 0 20px 20px;
}

.service-list__content {
    padding: 24px 18px;
    transition: 0.25s;
}

.service-list__content:hover {
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    border-radius: 0 0 20px 20px;
}

.service-list__heading {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: var(--primary-color);
}

.service-list__desc {
    margin-top: 18px;
    max-width: 268px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #7d8188;
}

/* About us */
.about-us {
    padding-top: 149px;
}

.about-us__inner {
    display: flex;
    padding-top: 149px;
}

.left-section {
    position: relative;
    width: 58.5%;
}

.about-image {
    display: flex;
    column-gap: 21px;
}

.about-image__img {
    width: 284px;
    height: 480px;
    object-fit: cover;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
    border-radius: 210px;
}

.about-image__img:last-child {
    transform: translateY(-69px);
}

.about-flower__flower {
    position: absolute;
    top: -110px;
    left: 29px;
    transform: rotate(21deg);
}

.about-flower__line {
    position: absolute;
    top: -117px;
    left: 70px;
}

.about-content {
    width: 42.5%;
}

.total-balance {
    position: absolute;
    bottom: 0;
    right: 55px;
    display: inline-block;
    padding: 19px 17px 11px;
    background: #ffffff;
    box-shadow: 0px 7px 54px rgba(154, 154, 154, 0.25);
    border-radius: 8px;
}

.total-balance__heading {
    display: inline-block;
    right: 0;
    left: 0;
    margin: 0 auto;
    font-family: "Public Sans";
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: #152427;
}

.total-balance__desc {
    display: block;
    margin-top: 6px;
    font-family: "Public Sans";
    font-size: 1rem;
    line-height: 1.4;
    color: #575d5e;
    opacity: 0.4;
}

.total-balance__figure {
    position: relative;
    margin-top: 10px;
    padding-bottom: 6px;
    display: block;
    font-family: "Public Sans";
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: #152427;
}

.total-balance__figure::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 40px;
    height: 2px;
    background: #83a17d;
    border-radius: 10px;
}

.total-balance__figure::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 96px;
    height: 2px;
    background: #eaeaea;
    border-radius: 10px;
}

.total-balance__loading {
    position: relative;
    margin-left: 44px;
    padding-bottom: 19px;
    display: inline-block;
    margin-top: 3px;
    font-family: "Public Sans";
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: #152427;
}

.total-balance__loading::before {
    position: absolute;
    left: -49px;
    bottom: 5px;
    content: "";
    display: block;
    border-radius: 50%;
    width: 11px;
    height: 11px;
    background: #eaeaea;
}

.total-balance__loading::after {
    position: absolute;
    left: -46px;
    bottom: 8px;
    content: "";
    display: block;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    background: #143c3c;
}

.total-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.total-row__desc {
    margin-left: -5px;
    font-family: "Public Sans";
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.4;
    color: #152427;
}

.total-row__image-list {
    display: flex;
    margin-left: 30px;
}

.total-row_img {
    display: inline-block;
    width: 16px;
    height: 16px;
    object-fit: cover;
    border-radius: 50%;
}

.total-row_img + .total-row_img {
    margin-left: -6px;
}

.about-content__heading {
    margin-top: 20px;
    width: 520px;
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: var(--primary-color);
}

.about-content__desc--big {
    margin-top: 11px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    color: #7d8188;
}

.about-content__row {
    position: relative;
    margin-top: 36px;
    padding-bottom: 20px;
    display: flex;
}

.about-content__row::after {
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    width: 485px;
    height: 0px;
    border: 1px solid #83a17d;
}

.about-content__figure {
    font-style: normal;
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: #152427;
}

.about-content__desc--small {
    width: 346px;
    margin-left: 24px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #7d8188;
}

/* Our Process */
.our-process {
    margin-top: 79px;
}

.our-process__inner {
}

.our-process__heading::before {
    content: "";
    display: block;
    position: absolute;
    bottom: 19px;
    left: 416px;
    width: 66px;
    height: 2px;
    background: var(--primary-color);
}

.process-row {
    display: grid;
    grid-template-columns: 1fr 2fr 3.5fr;
    align-items: center;
    position: relative;
    padding: 57px 30px 76px;
    border-radius: 33px;
}

.process-row:hover {
    background: #e2eddf;
}

.process-row:hover .process-row::after {
    display: hidden;
}

.process-row::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 1131px;
    height: 3px;

    background: linear-gradient(
        180deg,
        #83a17d 4.17%,
        rgba(131, 161, 125, 0) 36.46%
    );
}

.process-row + .process-row {
    padding-top: 57px;
}

.process-row__figure {
    font-weight: 600;
    font-size: 7.2rem;
    color: var(--primary-color);
}

.process-row__heading {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: var(--primary-color);
}

.process-row__cta {
    display: inline-block;
    margin-top: 22px;
    text-decoration: underline;
    font-size: 18px;
    line-height: 18px;
    color: #575d5e;
}

.process-row__right-block-text {
    font-family: "Public Sans";
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #7d8188;
}

.process-row__image {
    margin-top: 81px;
    position: relative;
}

.process-row__img {
    position: absolute;
    bottom: 0;
    right: 92px;
}

/* Project */
.project {
    margin-top: 148px;
    padding: 116px 130px 63px;
    background-color: var(--primary-color);
}

.project__inner {
    position: relative;
}

.project-row {
    display: flex;
    justify-content: space-between;
}

.project__heading {
    color: #ffffff;
}

.project__heading::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 19px;
    left: 300px;
    width: 66px;
    height: 2px;
    background: var(--secondary-color);
}

.project-row__desc {
    margin-top: 20px;
    width: 590px;
    font-family: "Public Sans";
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #6a8383;
}

.project-cta {
    margin-top: 13px;
    display: flex;
    align-items: center;
}

.project-cta__desc {
    font-family: "Public Sans";
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
    color: #ffffff;
}

.project-cta__arrow {
    margin-left: 28px;
}

.project__image {
    margin-top: 65px;
    width: 1140px;
    height: 544px;
    object-fit: cover;
    border-radius: 22px;
}

.project__image::after {
    position: absolute;
    content: "";
    width: 36px;
    height: 36px;
    background: #ffffff;
    border-radius: 1px;
    transform: rotate(89.72deg);
}

.project__base {
    position: absolute;
    bottom: 205px;
    left: 530px;
    cursor: pointer;
}

.project__play {
    position: absolute;
    bottom: 250px;
    left: 579px;
    z-index: 1;
    cursor: pointer;
}

.project__flower {
    position: absolute;
    right: -60px;
    top: 100px;
    transform: rotate(30deg);
}

.project__line {
    position: absolute;
    right: -150px;
    transform: rotate(90deg);
}

/* feature */
.feature {
    margin: 140px 0 184px;
}

.feature__inner {
}

.feature__heading {
    text-align: center;
    right: 0;
    left: 0;
    margin: 0 auto;
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
    color: #152427;
    width: 520px;
}

.feature__desc {
    right: 0;
    left: 0;
    margin: 20px auto;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.62;
    text-align: center;
    color: #7d8188;
    width: 547px;
}

.feature-row {
    display: flex;
    column-gap: 45px;
}

.feature-item {
    text-align: center;
    margin-top: 100px;
    padding: 80px 37px;
    border: 1.5px solid #cecece;
    border-radius: 160px;
    transition: .25s;
}

.feature-item:hover {
    transform: translateY(-50px);
    box-shadow: 0px 36px 100px rgba(111, 120, 111, 0.2);
}

.feature-item__heading {
    margin-top: 24px;
    font-weight: 600;
    font-size: 2rem;
    color: #152427;
}

.feature-item__desc {
    margin-top: 9px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
    text-align: center;
    color: #7d8188;
}
